/* This is sets the edges of the app with no margins and no padding*/
* {margin: 0; padding: 0; } 

/* This sets the section of the app with a bit of padding at the top and bottom. It has a border for now
so that I know where I am on the page. I may change this or add a background color*/
section {
  border: 1px solid purple;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 350px;
}

/* This sets the canvas! OMC!! */
canvas {
  /*background-image: */
  display: inline-block; /*This block makes it so I can make my divs and canvas side by side*/
  border: 1px solid black;
  margin: 10px auto 0px; /*This makes it so that it has a top margin of 10px, auto left/right margin and 0px for bottom*/ 
}

#homepage-container {
	border: 1px solid red;
	height: 180px;
}

#drawing-tools-left {
	/*Styling for drawing tools to the left of the canvas*/
	display: inline-block;
	border: 1px solid blue; /*temp border so I can see what I am moving and where*/
	width: 200px;
	margin: 2px auto;
}

#drawing-tools-right {
	/*Styling for drawing tools to the right of the canvas*/
	display: inline-block;
	border: 1px solid blue; 
	margin: 2px auto;
	width: 200px;
}

#colors {
	/*Styling for div where actual color buttons live*/
}

#colors button {
	width: 10%;
	height: 100px;
	margin-top: 300px;
	padding: 2px;
}

/*consider adding a hover option with jquery rather than css!!*/

#black { background: #000000; }
#yellow { background: #f1c40f; }
#red { background: #e74c3c; }
#green { background: #2ecc71; }
#blue { background: #2980b9; }
#purple { background: #8e44ad; }

#other-tools {
	width: 35%;
	height: 30px;
	padding: 2px;
	background: black;
}

#other-tools button {
	margin-top: 5px;
	margin-left: 5px;
	background: #ffffff;

}















