<main class="user-home">
    <h1 class="headlines">Welcome back to Doodle Life, <%= @user.username.capitalize %> </h1>
    <h2>Where doodles are encouraged</h2>
    <br>
    <form action="/sessions/<%= @user.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout">
    </form>
    <section>
        <!-- This is where the drawing app will go!!!!! -->
        <div id="drawing-tools-left">
            <!-- This is where the colors will go (they will need lots of css styling and maybe images) -->
            <div id="colors">
                <!-- This is where color buttons (shape of crayons?) will go! -->
                <button class="button-color" value="#000000" id="black"></button>
                <button class="button-color" value="#f1c40f" id="yellow"></button>
                <button class="button-color" value="#e74c3c" id="red"></button>
            </div>
            <div id="other-tools">
                <!-- Here will lie the button that clears all doodles in one fell swoop -->
                <button id="clear-canvas">clear all</button>
            </div>
        </div>
        <canvas id="canvas" width="800" height="500"></canvas> <!--This is the actual canvas! Whoa!! -->
        <div id="drawing-tools-right">
            <!-- Actually, I will likely need two of these because I want them to go beside my canvas on both sides -->
          <div id="colors">
            <!-- This is where color buttons (shape of crayons?) will go! -->
           	<button class="button-color" value="#2ecc71" id="green"></button>
              <!-- buttons have ids for css styling -->
            <button class="button-color" value="#2980b9" id="blue"></button>
            <button class="button-color" value="#8e44ad" id="purple"></button>
          </div>
        </div>
    </section>
</main>